// Start of mobile view***

body {
  font-family: $default-font;
  color: $default-font-color;
  font-size: 16px;
  background-color: $default-background;
}

.container {
  width: 100%;
}

.header-box { 
  height: 100%;
}

.content-container {
  width: auto;
  display: flex;
  justify-content: center;
  margin-top: 35%;
}

.nyt-logo {
  margin-bottom: 1rem;
}

.options {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.section-title {
  font-size: 0.75rem;
  width: 100%;
  margin-bottom: 0.5rem;
}

.drop-down {
  width: auto;
  font-size: 1rem;
}

// .loading-gif {
//   display: flex;
//   justify-content: center;
// }

.loading {
  height: 50px;
  display: none;
}

.headlines {
  display: flex;
  flex-wrap: wrap;
  a {
    height: 300px;
    background-size: cover;
    text-decoration: none;
  }
  p {
    font-weight: 100;
    padding: 2%;
    color: $default-font-color;
    background-color: rgba(0,0,0,0.5);
  }
}

.copyright-footer {
  padding-bottom: 1rem;
}

.copyright {
  font-size: $default-font-size * 0.85;
  color: #c2c2c2;
  text-align: center;
}

footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding-bottom: 2rem;
}
//End of mobile view***

@media (min-width: $tablet-view) {

body {
  background-color: $default-background;
}

.content-container {
  // width: auto;
  // display: flex;
  justify-content: right;
  flex-wrap: wrap;
  margin-top: 10%;
}

.header-box {
  flex-wrap: wrap;
}
.options {
  // display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 35%;
  width: 50%;
}

.nyt-logo {
  width: 9rem;
}

img {
    height: auto;
    max-width: 100%;
}

.headlines {
  display: flex;
  flex-wrap: wrap;
  a{
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 33.3%;
  }
}

}

// Desktop View

@media (min-width: $desktop-view) {

.headlines {
  display: flex;
  flex-wrap: wrap;
  a{
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 25%;
  }
  }
}