// Start of mobile view***

body {
  font-family: $default-font;
  color: $default-font-color;
  font-size: 16px;
  background-color: $default-background;
}

header {
  height: 30rem;
}

header.activated {
  flex-direction: row;
  padding: 20px;
  align-items: center;
  height: auto;
  img {
    height: 110px;
  }
  .options {
    display: block;
  }
}

.content-container {
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nyt-logo {
  margin-bottom: 1rem;
}

.options {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  p {
    margin-bottom: 1rem;
  }
}

.instruction {
  font-size: 0.75rem;
  width: 100%;
  margin-bottom: 0.5rem;
}

.drop-down {
  width: auto;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.loading {
  height: 50px;
  display: none;
}

.headlines {
  display: flex;
  flex-wrap: wrap;
  a {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 300px;
    width: 100%;
    background-size: cover;
    text-decoration: none;
    bottom: 0;
    width: 100%;
    &:hover{
      p {
        max-height: 300px;
        padding: 10px;
      }
    }
  }
  p {
    font-weight: 100;
    color: $default-font-color;
    background-color: rgba(0,0,0,0.5);
    transition: all 0.2s ease-out;
    max-height: 0;
    padding: 0 10px;
    overflow: hidden;
  }
}

footer {
  display: flex;
}

.copyright-footer {
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.copyright {
  font-size: $default-font-size * 0.85;
  color: #c2c2c2;
  text-align: center;
}

//End of mobile view***

@media (min-width: $tablet-view) {

.headlines {
  display: flex;
  flex-wrap: wrap;
  a{
    // height: 300px;
    // background-size: cover;
    // background-repeat: no-repeat;
    flex-basis: 50%;
    
  }
}
}

@media (min-width: $desktop-view) {

.headlines {
  display: flex;
  flex-wrap: wrap;
  a{
    flex-basis: 25%;
  }
  }
}