// Example of variable for desktop width:
$desktop-view: 1000px;
$tablet-view: 600px;
$mobile-view: 599px;

// Instanews font size:
$default-font: 16px;

// Default Font Color:
$default-font-color: #ffffff;


