// Media Queries:
$desktop-view: 1000px;
$tablet-view: 600px;
$mobile-view: 599px;

// Instanews fonts:
$default-font-size: 16px;
$default-font: 'open_sans', 'arial' 'sans-serif';
$default-font-color: #ffffff;

// Default background color:
$default-background: #000000;

